@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&display=swap");

.currency-block {
  background-color: var(--binance-very-light-grey);

  margin: 2rem 0;
  padding: 0.8rem 1rem 1rem 1rem;
  width: 100%;

  border-radius: 0.5rem;
  border: 1px solid transparent;
}

.currency-block:hover,
.currency-block:focus-within {
  border: 1px solid var(--binance-yellow);
}

.currency-block > h4 {
  font-weight: 400;
  font-size: 0.9rem;

  margin: 0;
}

.currency-block__input-button-flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0 0 0;
}
