.bottom-button {
  /* footer style */
  position: fixed;
  bottom: 0;
  left: 1rem;
  right: 1rem;
  margin: 0 auto 1rem auto; /* centering */
  padding: 0.5em 0;
  max-width: 650px; /* Follows .app-body-flex-container */

  border-radius: 0.2rem;
  background-color: #f8cd2a;

  text-align: center;
  font-weight: 500;
}

.bottom-button button {
  margin-left: 1.5rem;
}

.bottom-button svg {
  margin: 0 0.7em;
}
