.App {
  /* can be improved to become fully responsive by @media */

  display: flex;
  flex-direction: column;
}

header {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.header__logo-img {
  height: 1.7rem;
  margin-left: 0.6rem;
  margin-top: 1rem;
}

.header__credit-img {
  height: 2rem;
  margin-right: 0.6rem;
  margin-top: 0.7rem;
}

.App h1 {
  color: black;
  font-size: 1.3rem;
  font-weight: 500;

  margin-left: 0.5em;
}

main {
  margin: 0 0.5em;
}

.bottom-button {
  /* footer style */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 1rem 1rem 1rem;
  padding: 0.5em 0;

  border-radius: 0.2rem;
  background-color: #f8cd2a;

  text-align: center;
  font-weight: 500;
}

.bottom-button svg {
  margin: 0 0.7em;
}
