@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap");

:root {
  --binance-yellow: #f7bc0c;
  --binance-very-light-grey: #fafafa;
  --binance-dark-grey: #707a8a;
}

.App {
  box-sizing: border-box;

  font-family: "IBM Plex Sans", Arial, sans-serif;
  color: var(--binance-dark-grey);
}

*,
*:before,
*:after {
  /* All boxes use border box */
  box-sizing: inherit;
  font: inherit;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;

  cursor: pointer;
}

a {
  color: black;
}
